<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link rel="shortcut icon" href="#" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<body>
<div class="container">
    <form name="login" th:action="@{/login}" method="post">
        <br>
        <fieldset>
            <div th:if="${param.error}">
                <div class="alert alert-danger"> Wrong email or password!</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success"> You have been logged out.</div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Login</h2>
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <label for="email" class="control-label"> Email</label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="Enter email address" />
                            </div>
                            <div class="form-group mb-3">
                                <label for="password" class="control-label"> Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" />
                            </div>
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <span> Don't have an account?
                                    <a th:href="@{/register}">Register here</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
