<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success text-center centered-alert h3" role="alert">
                    <h3 class="alert-heading">Registration is successful!</h3>
                </div>
                <button type="submit" class="btn btn-primary" th:href="@{/login}">Return to the login page</button>
            </div>
        </div>
    </div>
</body>
</html>
