<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head}"><title>Edit</title></head>
<body>
<header th:replace="~{fragments :: headerCustomer}"></header>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Edit appointment</h2>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/update-appointment/{id}(id=${id})}" th:object="${appointment}" method="post">
                        <div class="form-group mb-3">
                            <label for="car">Car</label>
                            <select class="form-select" th:field="*{car.licensePlate}" id="car" aria-label="car" disabled>
                                <option th:text="${appointment.car.licensePlate}" th:value="${appointment.car.licensePlate}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="serviceJobs">Service jobs:</label>
                            <select th:field="*{serviceJobs}" class="form-select" id="serviceJobs" aria-label="serviceJobs" multiple disabled>
                                <option th:each="serviceJob : ${appointment.serviceJobs}"
                                        th:text="${serviceJob.type}" th:value="${serviceJob.type}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="carCenter">Car center:</label>
                            <select th:field="*{carCenter.name}" class="form-select" id="carCenter" aria-label="carCenter" disabled>
                                <option th:text="${appointment.carCenter.name}" th:value="${appointment.carCenter.name}"></option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="date">Date:</label>
                            <input th:field="*{dateOfAppointment}" type="date" class="form-control" id="date" required>
                            <span class="text-danger" th:if="${#fields.hasErrors('dateOfAppointment')}" th:errors="*{dateOfAppointment}">The date cannot be in the past</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments :: footer}"></footer>
</body>
</html>
